<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    Home page.handlerbar: {{> post-info post }}
  </li>
  {{/each}}
  <div>
    <h3>

    </h3>
    <p>
      Posts {{posts.length}}
    </p>
    <p>
      Users {{users.length}}
    </p>
  </div>
</ol>